.carousel-control-next
{
    width:50%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon
{
    display: none;
}
.carousel-control-prev
{
    width:50%;
}
.carousel-indicators
{
    width:960px;
    left:167px;
}

.carousel-indicators .active
{
    background-color: var(--color-brand);
}

.mainSelectMenu
{
    width:130px;
}
.mainSelectMenu .mainSelectBtn
{
    display: flex;
    height: 40px;
    background: var(--color-white);
    padding:  14px 10px 14px 20px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.mainSelectMenu .mainSelectBtn svg
{
    transition: 0.3s;
}

.mainSelectMenu.selectMenuActive .mainSelectBtn svg
{
    transform: rotate(-180deg);
}
.mainSelectMenu .selectOptions
{
    position: absolute;
    z-index: 100;
    width: 130px;
    height: 176px;
    overflow-y: auto;
    padding: 20px;
    border-radius: 8px;
    background: var(--color-white);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: none;
}
.mainSelectMenu.selectMenuActive .selectOptions
{
    display: block;
}


.selectOptions .selectOption
{
    display: flex;
    height: 34px;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 8px;
    align-items: center;
    background: var(--color-white);
}
.selectOptions .selectOption:hover
{
    background: #F2F2F2;
}




.mainCardContainer .card
{
    cursor: pointer;
}

.mainCardContainer .card .card-body
{
    padding:0;
}

.mainCardContainer .card .card-title
{
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    overflow: hidden; /* 넘칠 때 숨김 처리 */
    text-overflow: ellipsis; /* '...'으로 표시 */
}

.mainNavContainer ul
{
    padding-left: 0;
    margin: 0;
}

.mainNavContainer ul li
{
    border-radius: 6px;
    cursor: pointer;
}

.mainNavContainer ul li:hover
{
    background-color: var(--clr);
    transform: translateY(-6px);
    transition:0.2s;
    color:var(--white);
}

.mainNavContainer ul li p
{
    margin-bottom: 0;
}