.registerMain p
{
    font-weight: var(--font-weight-info);
}
.registerMain button
{
    font-weight: var(--font-weight-info);
}

.modifyContainer .inputText
{
    border: thin solid grey;
    border-radius: 4px;
    height:44px
}

.modifyContainer .inputRadio
{
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
}

.modifyContainer .inputRadio:checked {
    border: 0.4em solid var(--color-brand);
}

.modifyContainer .inputRadio:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted tomato;
}

.modifyContainer .inputRadio:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}
/*.registerTypeInputContainer label
{
    font-size: 16px;
}

.registerTypeInputContainer span
{
    vertical-align: middle;
}

.registerGenderInputContainer label
{
    font-size: 16px;
}

.registerGenderInputContainer span
{
    vertical-align: middle;
}*/

.joinButton
{
    border-radius: 4px;
    outline:none;
    width: 100%;
    height: 41px;
    background-color: var(--white);
    border-color: var(--color-brand);
    color: var(--color-brand);
}

.joinSubmitButton
{
    border-radius: 4px;
    border: none;
    outline:none;
    width: 90%;
    height: 44px;
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--white);
}