@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.headerNav{
    min-height: 100px;
}
.logo span
{
    font-family: 'KOHIBaeumOTF', serif;
}

.toCartPg{

    text-decoration: none;
}

.toMyPg{

    text-decoration: none;
}

.icon-text-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 12px;
    cursor:pointer;
}

.icon-text {
    margin-top: 4px;
}

/*.searchBar{
    border: none;
}*/

/*.search-btn-container{
    border: white;
}*/

.searchBtn{
    background: white;
    border: none;
    color: gray;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

#headerBox
{
    cursor: pointer;
    user-select: none;
}

#headerBox:hover
{
    background-color: var(--color-umbak);
}